<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arthur Lima" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎄</text></svg>">
  </head>
  <body>
    <div class="container">
      {% include social-menu %}

      {{ content }}

      <h2 class="category">Notas</h2>
      <ul class="posts">
        {% for post in collections.posts reversed %}
        <li class="post">
          <span class="post-title">
            {% if post.data.externalLink %}
            <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
          </span>
          <span class="post-date">
            {{ post.date | date: '%d %b %Y' | downcase }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
